<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- bootstrap -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <script src="../js/bootstrap.bundle.js"></script>

    <!-- my -->
    <link href="../css/styles.css" rel="stylesheet">
    <link rel="icon" href="../public/logo1.png">
    <title>Descargas</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light shadow">
            <div class="container-fluid" id="nav">
                <a class="navbar-brand text-danger p-2 fs-1 fw-bold" href="../index.html">
                    La fé
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse px-5 p-2 fs-3 justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                        <a class="nav-link" aria-current="page" href="../templates/dates.html">Fechas</a>
                        <a class="nav-link" aria-current="page" href="../templates/download.html">Descargas</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</body>
<main>
    <div class="row row-cols-1 row-cols-xl-1 g-4">
        <!-- Anuncio 1 -->
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-danger fw-bold shadow-sm">
                        Santa Biblia, Reina V@/!21%$%#4 1960
                    </h2>
                    <ol>
                        <li>
                            info1 
                        </li>
                        <li>
                            info2 
                        </li>
                        <li>
                            info3 
                        </li>
                    </ol>
                    <div class="my-3 text-center">
                        <a href="" class="btn btn-primary">Descargar</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</main>

</html>
